/* webfont */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, aside, footer, header, nav, section, summary, video{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol{
    list-style: none;
}

html{
    font-size: 14px;
    /* rem기준 크기!! */
}

body{
    font-family: '을유1945', 'Noto Sans KR';
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
}

#wrap{
    min-width: 1400px;
}

/* header */
#top{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 630px;
}

.banner{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
    width: 1920px;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(252,252,252,0.93);
    padding: 26px 0;
}

/* .swiper_S */

.banner .swiper {
    width: 100%;
    height: 100%;
  }

  .banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* .swiper_E */

.inner_header{
    width: 1320px;
    margin: 0 auto;
    position: relative; 
    
}

.gnb{
    display: flex;
    justify-content: center;
    padding-top: 26px;
}

.gnb li a{
    display: block;
    color: #545454;
    padding: 0 87.5px;
}

.gnb li a:hover{
    color: #4e8552;
}

.gnb li:nth-child(2){
    padding-right: 87.5px;
}

.gnb li:nth-child(3){
    padding-left: 87.5px;
}

.logo{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -57px;
    z-index: 9;
}

/* container */
/* story */
.story{ 
    height: 703px;
    overflow: hidden;
}


.story_top_bg{
    height: 335px;
    background-color: #45674e;
}

.story_top{
    /* width: 1920px; */
    height: 335px;

    
}

.story_logo{
    width: 1320px;
    margin: 0 auto;
    background-image: url(../images/main/story_texticon.svg);
    background-repeat: no-repeat;
    background-position: 806px 168px;
    
}


.story_title{
    width: 1320px;
    margin: 0 auto;
    padding-top: 77px;
    color: #FFFFFF;
    position: relative;
    padding-left: 81px;
}

.story_title h1{
    font-size: 36px;
    margin-bottom: 37px;
}

.story_title h2{
    font-size: 46px;
    line-height: 65px;
}

.story_bottom{
    width: 1320px;
    margin: 0 auto;
    display: flex;
}

.story_txt_wrap{
    /* background-color: aqua; */
    width: 465px;
    position: relative;
}

.story_txt{
    padding-left: 44px;
    padding-top: 46px;
    padding-bottom: 39px;  
    font-family: 'Noto Sans KR';
    font-size: 14px;
    font-weight: 400px;
}

.story_txt01{
    padding-bottom: 13px;
}

.story_line{
    width: 762.5px;
    border: 1px solid #707070;
    position: absolute;
    right: 0;

}

.story_bottom_wrap{
    margin-top: 44px;
    display: flex;
justify-content: flex-end;
}

.story_botton{
    width: 110px;
    height: 32px;
    border: 1px solid #545454;
}

.story_botton a{
    width: 110px;
    display: inline-block;
    width: 110px;
    text-align: center;
    padding-top: 5px;
    font-family: 'Noto Sans KR';
    font-size: 12px;
}

.story_botton:hover{
    background-color: #F1F1F1;
    
}

.story_img{
    display: flex;
    position: relative;
    
}

.story_img01{
    position: absolute;
    top: -123px;
    left: 84.21px;
    z-index: 9;
}

.story_img02{
    position: absolute;
    top: -57px;
    left: 468px;
    z-index: 9;
}

.story_img p{
    font-size: 11px;
    color: rgba(72,72,72,0.76);
    font-weight: 400px;
    display: flex;
    justify-content: flex-end;
}

/* bestseller */

.bestseller_wrap{
    overflow: hidden;
}

.bestseller{
    width: 1320px;
    margin: 0px auto;
    position: relative;
    /* overflow: hidden; */
}

.bestseller h1{
    margin-top: 190px;
    text-align: center;
    font-family: '을유1945';
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;
}

/* .swiper_S */

.bestseller_swiper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
    
.mySwiper1_wrap{
    width: 374px;
    margin: 0 auto;
    height: 395px;
    margin-top: 30px;
    overflow: hidden;
}


.mySwiper1 img{
    width: 100%;
}

.mySwiper1_wrap:hover img{
    transform: scale(1.1);
}

.mySwiper1_wrap:hover .mySwiper1_cover{
    opacity: 1;
}

.mySwiper1_cover{
    background-color: rgba(7,15,9,0.74);
    font-size: 14px;
    font-family:'Noto Sans KR';
    font-weight: 300;
    color: white;
    width: 374px;
    height: 395px;
    position: absolute;
    top: 30px;
    left: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 65px;
    box-sizing: border-box;
    opacity: 0;
    background-image: url(../images/main/bestseller_hover.png);
    background-repeat: no-repeat;
    background-position: top 175px center;
}

.bestseller_swiper .mySwiper1 {
    width: 1236px;
    margin: 0 auto;
    padding: 47px;
    height: 100%;
    /* position: relative; */
  }

  .bestseller_swiper .Swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 374px;
    height: 395px; */
  }
/* 
  .bestseller_swiper .Swiper-slide:hover{
    background-color: #006669;
  } */

  .bestseller_swiper .Swiper-slide img {
    display: block;
    width: 374px;
    height: 395px;
    object-fit: cover;
    /* overflow: hidden; */
  }

.banner .swiper-pagination-bullet-active{
    background-color: #54A4A1!important;
}


  /* .swiper_E */

  @keyframes leaves{
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }

    100%{
        transform: rotate(-10deg);
    }
}


  .icon_leaves{
    position: absolute;
    right: -124px;
    top:  -79px;
    z-index: 9;
    display: block;
    animation: leaves 1s infinite linear;
  }

  .specialtea{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    display: block;
  }

  .specialtea_bg{
    background-color: #4A784C;
    border-radius: 50%;
    width: 116px;
    height: 116px;
  }

  .specialtea{
    font-family: 'Roboto Mono';
    color: white;
    font-size: 17px;
    font-weight: 400px;
    line-height: 30px;
  }

  .specialtea p{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  /* newgoods */

  .newgoods_bg{
    background-color:#45674e;
    height: 490px;
    margin-top: 400px;
  }

  .newgoods_about{
    width: 1320px;
    margin: 0 auto;
    position: relative;
  }

  .newgoods h1{
    padding-top: 68px;
    padding-bottom: 58px;
    text-align: center;
    font-family: '을유1945';
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    
}

.newgoods_line{
    position: absolute;
    left: -293px;
    top: 73px;
}

.newgoods_charater{
    width: 1320px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    text-align: center;

}

.charater_head{
    position: absolute;
    left: 395px;
    top: -211px;
}

.charater_hat{
    position: absolute;
    left: 506px;
    top: -300px;
    
}



/* .swiper_S */
.newgoods_swiper_wrap{
    position: relative;
    height: 305px;
    overflow: hidden;

}
.newgoods_swiper{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -960px;
    width: 1920px;
}

.newgoods_wrap .mySwiper2 {
    width: 100%;
    height: 100%;
  }

  .mySwiper2_wrap{
    /* width: 378px;
    height: 305px; */
    /* margin: 0 auto; */
    overflow: hidden;
}

  .mySwiper2_wrap:hover .mySwiper2_cover{
    opacity: 1;
    background-image: url(../images/main/newgoods_hover_icon.svg);
    background-repeat: no-repeat;
    background-position: top 98px center;
    cursor: url(../images/main/mouse_hover.png) 20 30, auto;
}

  .newgoods_wrap .swiper-slide {  
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newgoods_wrap .swiper-slide img {
    display: block;
    width: 378px;
    object-fit: cover;
  }

 .mySwiper2_cover{
    background-color: rgba(7,15,9,0.74);
    font-size: 14px;
    font-family:'Noto Sans KR';
    color: white;
    width: 378px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    text-align: center;
}

.mySwiper1 img{
    width: 100%;
}

 .mySwiper2_cover img{
    width: 26px;
    height: 26px;
 }

 .mySwiper2_cover p{
    transform: translateY(60px);
    transition: all 0.7s;
}
.mySwiper2_wrap:hover .mySwiper2_cover p{
    transform: translateY(0px);
}

.swiper-button-next{
    color: #648169!important;
}

.swiper-button-prev:after{
    color: #648169!important;
}

 /* event */
 .event{
    width: 1320px;
    margin: 0px auto;
}

.event h1{
    margin-top: 190px;
    padding-bottom: 79px;
    text-align: center;
    font-family: '을유1945';
    font-size: 36px;
    font-weight: 600;
}

.event_wrap{
    height: 236.16px;
    display: flex;
    justify-content: space-between;
}


.event_contents{
    display: flex;
    justify-content: space-between;
}

.event_contents h3{
    font-family: 'SUIT';
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    padding-bottom: 9px;
    letter-spacing: -0.4px;
    
}

.event_contents h4{
    font-family: 'Pretendard';
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    padding-bottom: 9px;
}

.event_contents h5{
    font-family: 'Pretendard';
    font-size: 10px;
    font-weight: 300;
}

.event_section{
    width: 414px;
    height: 236px;
}

.event_section:hover{
    transform: scale(1.12);
}

.event01{
    background-color: #A4D695;
}

.event01_txt{
    width: 213px;
    height: 236px;
    padding-top: 62px;
}

.event01_img{
    padding-top: 46px;
    padding-left: 18px;
}

.event02{
    /* width: 413.77px;
    height: 236.18px; */
    background-color: #82D1D1;
}

.event02_txt{
    width: 213px;
    height: 236px;
    padding-top: 62px;
}

.event02_img{
    padding-top: 43px;
    padding-left: 18px;
}

.event03{
    /* width: 413.77px;
    height: 236.18px; */
    background-color: #FBDD8D;
}

.event03_txt{
    width: 213px;
    height: 236px;
    padding-top: 62px;
}

.event03_img{
    padding-top: 53px;
    padding-left: 15px;
}

/* class */
.class_bg{
    background-image: url(../images/main/class_background.jpg);
    background-repeat: no-repeat;
    background-position: top 135px center;
    padding-bottom: 245px;
    /* z-index: 5; */
}

.class_top{
    width: 1320px;
    height: 400px;
    margin: 180px auto;
    position: relative;
    overflow: hidden;
}

@keyframes cloud{
    0%{
        translate: 30px;
    }
    50%{
        translate: 0px;
    }

100%{
    translate: 30px;
}
}


.cloud_img img{
    width: 1320px;
    animation: cloud 2s infinite linear;
}

.cloud_txt{
    z-index: 9;
    position: absolute;
    top: 30px;
    left: 387px;
    font-family:'Noto Sans KR';
    text-align: center
}

.cloud_txt h2{
    font-family: '을유1945';
    font-size: 36px;
    color: #3F6536;
    padding-bottom: 29px;
    padding-top: 188px;
}
.cloud_txt h5{
    font-weight: 300;
    font-size: 18px;
    color: #6A9154;
    padding-bottom: 23px;
}
.cloud_txt h4{
    font-weight: 400;
    font-size: 27px;
    color: #74A558;
    padding-bottom: 34px;
}
.cloud_txt h3{
    font-weight: 400;
    font-size: 40px;
    color:#74A558;
    padding-bottom: 363px;
}

.class_bottom{
    width: 1320px;
    margin: 0 auto;
}

.class h1{
    font-family: '을유1945';
    font-weight: 600;
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 347.47px;
    padding-bottom: 61px;
}

.class_info{
    width: 1320px;
    height: 393px;
    display: flex;
    position: relative;
}

.class_about{
    width: 576px;
}

.class_wrap{
    /* width: 540px; */
    box-sizing: border-box;
    height: 189px;
    background-image: url(../images/main/class_bubble.svg);
    background-size: 98%;
    background-repeat: no-repeat;
    padding-left: 65px;
    padding-top: 40px;
    position: relative;
    cursor: pointer;
}

.class_wrap01{
    margin-bottom: 18px;
}

.class_wrap:hover{
    background-image: url(../images/main/class_bubble_hover.svg);
    background-size: 100%;
    color: white;
}

.class_wrap:hover p a{
    color: white;
}


.class_video{
    width: 745px;
    overflow: hidden;
}

/* .class_video video{
    width: 100%; 
    position: absolute;
    right: -36px;
    top: 34px;
    opacity: 1;
} */


.class_wrap h2{
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 16px;
}

.class_wrap h3{
    font-family:'Noto Sans KR';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.class_wrap p{
    width: 48px;
    height: 17px;
    color: #919191;
    background-image: url(../images/main/class_arrow.svg);
    background-repeat: no-repeat;
    background-position: right top 6.5px;
    position: absolute;
    right: 67px;
    bottom: 55px;
    font-family:'Noto Sans KR';
    font-size: 12px;
    font-weight: 400;
}


/* review */

.review{
    width: 1320px;
    margin: 76px auto;
    margin-bottom: 84px;
    display: flex;
    justify-content: center;
}

.board_wrap{
    width: 768px;
}

.board_top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #232323;
}

.board_top h1{
    padding-left: 11px;
    font-size: 28px;
    color: #3D3D3D;
    padding-bottom: 15px;
}

.board_top p a{
    display: inline-block;
    font-family:'Noto Sans KR';
    font-size: 13px;
    font-weight: 500;
    color: #565656;
    padding-right: 20px;
    padding-top: 5px;

}

.board_inner a{
    height: 65px;
    border-bottom: 1px solid #AEB2AE;
    display: flex;
    /* padding-top: 50px; */
    justify-content: space-between;
}

.board_inner a:hover p{
    color: #6A9154;
    font-size: 17px;
}

.board_inner h4{
    width: 83px;
    height: 26.5px;
    color: white;
    text-align: center;
    font-family:'Noto Sans KR';
    font-size: 11px;
    font-weight: 500;
    line-height: 9px;
    margin-left: 15px;
    color: white;
    margin-top: 21px;
}

.board_inner01 h4{
    background-color: #54A4A1;
}

.board_inner02 h4{
    background-color: #629E7E;
}

.board_inner p{
    width: 545px;
    font-family:'Noto Sans KR';
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 22px;
}

.board_inner h5, .board_inner h6{
    font-family:'Noto Sans KR';
    color: #444444;
    font-size: 10px;
    font-weight: 500;
    padding-top: 23px;
}

.board_inner h6{
    padding-right: 20px;
    padding-left: 7px;
}

.board_deco{
    width: 495px;
    background-image: url(../images/main/class_treeicon.svg);
    background-repeat: no-repeat;
    background-position: left 188px top 10px;
}

.board_deco img{
    width: 123px;
    height: 187px;
    padding-top: 170px;
    padding-left: 134px;
}

/* footer */
#footer{
    font-family:'Noto Sans KR';
    color: #707070;
    font-size: 13px;
    font-weight: 300;
    background-color: #F9F9F9;
}

.footer_inner{
    width: 1320px;
    margin: 0 auto;
}

#footer span{
    font-size: 20px;
    font-weight: 400;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 68px;
}

.footertop_left{
    display: flex;
    justify-content: center;
}

.footer_id{
    line-height: 21px;
    padding-top: 60px;
    padding-left: 41px;
}

.footer_number{
    line-height: 34px;
    padding-top: 3px;
}

.footer_icon{
    display: flex;
    height: 45px;
}

.footer_bottom{
    line-height: 25px;
}

.footer_icon li{
    font-family:'Noto Sans KR';
    font-size: 10px;
    font-weight: 400;
    /* width: 56px; */
    padding: 11px;
    line-height: 15px;
}

.footer_icon li:nth-child(1) p{
    padding-left: 6px;
}

.footer_icon li:nth-child(2) p{
    padding-left: 2px;
}

.footer_icon li:nth-child(3) p{
    padding-left: 11px;
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 108px;
}

.footer_info{
    padding-bottom: 31px;
}

.footerbottom_right{
    padding-top: 20px;
}














