/* webfont */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, img, small, strong, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tr, th, td, article, aside, footer, header, nav, section, summary, video{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,ol{
    list-style: none;
}

html{
    font-size: 14px;
    /* rem기준 크기!! */
}

body{
    font-family: '을유1945', 'Noto Sans KR';
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
}

#wrap{
    min-width: 1400px;

}

/* header */
#top{
    width: 100%;
    height: 630px;
    overflow: hidden;
    position: relative;
}

.banner{
    background-image: url(../images/class/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 631px;
}

@keyframes banner_animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.banner_animation img{
    position: absolute;
    left: 317px;
    top: 165px;
    animation: banner_animation 4s infinite linear;
}

.inner_banner{
    width: 1320px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -660px;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    background-color: rgba(252,252,252,0.93);
    padding: 26px 0;
}

.inner_header{
    width: 1320px;
    margin: 0 auto;
    position: relative; 
}

.gnb{
    display: flex;
    justify-content: center;
    padding-top: 26px;
}

.gnb li a{
    display: block;
    color: #545454;
    padding: 0 87.5px;
}

.gnb li a:hover{
    color: #4e8552;
}

.gnb li:nth-child(2){
    padding-right: 87.5px;
}

.gnb li:nth-child(3){
    padding-left: 87.5px;
}

.logo{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -57px;
    z-index: 9;
}

/* intro */

.intro{
    width: 1320px;
    margin: 139px auto;
    text-align: center;
    cursor: pointer;
}

.intro h1{
    font-size: 36px;
    color: #1A1A1A;
}


/* class */
.class_top{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.class{
    width: 419px;
    height: 409px;
    position: relative;
    overflow: hidden;
}

.class:hover .hover{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.7s;
}

.class:hover .class_about{
    background: #45674E;
    color: white;
}

.class:hover .arrow_wrap{
    opacity: 0;
}

/* class */

.class_about{
    background: white;
    border: 1px solid #707070;
    border-radius: 0 0 50px 50px;
    width: 100%;
    height: 134px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

.about_inner{
    display: flex;
    justify-content: space-around;
    padding-top: 28px;
}

.key_cover{
    display: flex;
}

.key{
    width: 60px;
    height: 17px;    
    background-color: #829B8E;
    border-radius: 10px;
    margin: 12px 1px;
}


.key p{
    height: 17px;
    font-family: 'Noto Sans KR';
    font-size: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.class_about h2{
    font-size: 29px;
}

.class_date{
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 500;
    padding-top: 38px;
}

.arrow_wrap{
    position: absolute;
    left: 187px;
    top: 152px;
    text-align: center;
    color: white;
    opacity: 1;
}

.hover{
    background-image: url(../images/class/hover_bg.svg);
    width: 420px;
    height: 409px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transform: translateY(-20px);
}

.hover h4{
    font-family: 'Noto Sans KR';
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.hover p{
    text-align: center;
    padding-top: 26px;
}

.hover p a{
    font-family: 'Noto Sans KR';
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.class01{
    background-image: url(../images/class/class_01.jpg);
}

.class02{
    background-image: url(../images/class/class_02.jpg);
    
}

.class03{
    background-image: url(../images/class/class_03.jpg);
}
    

.class_bottom{
    width: 1320px;
    margin: 26px auto;
    display: flex;
    justify-content: center;
    /* margin-top: 26px; */
}

.class04{
    background-image: url(../images/class/class_04.jpg);
    margin-right: 32px;
   
}

.class05{
    background-image: url(../images/class/class_05.jpg);
   
}

.key_03{
    background-color: #9E8983;
}

/* review */

.review{
    font-family:'Noto Sans KR';
    width: 1320px;
    margin: 200px auto;
    margin-bottom: 110px;
}

/* box */

.box{
    border: solid 1.9px #707070;
    background-color: #F9F9F9;
    height: 338.83px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box_txt{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box_txt h4{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 21px;
}

.box_txt h2{
    font-family: 'SUIT';
    font-size: 33px;
    font-weight: 900;
    color: #1A1A1A;
}

@keyframes box2_animation{
    0%{
        top: 212px;
    }

    50%{
        top: 201px;
        
    }
    100%{
        top: 212px;
    }
}

.box1{
    position: absolute;
    left: 253px;
    top: 62px;
}

.box2{
    position: absolute;
    left: 369px;
    top: 201px;
    animation: box2_animation 2s infinite linear;
}

.box3{
    position: absolute;
    right: 307px;
    top: 42px;
}

.box4{
    position: absolute;
    right: 220px;
    top: 159px;
}

@keyframes box5_animation{
    0%{
        top: 170px;
    }

    50%{
        top: 159px;
        
    }
    100%{
        top: 170px;
    }
}

.box5{
    position: absolute;
    right: 369px;
    top: 159px;
    animation: box5_animation 2s infinite linear;
}

.board, .board_gnb2, .board_gnb3{
    height: 637px;
    position: relative;
}

.board_line{
    background-image: url(../images/class/review_line.svg);
    background-position: bottom ;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    height: 10.65px;
    position: relative;
    top: -11px;
}

.board_inner a{
    height: 102px;
    border-bottom: 1px solid #AEB2AE;
    display: flex;
    /* padding-top: 50px; */
    justify-content: space-between;
    padding-left: 20px;
}

.board_inner a:hover p{
    color: #6A9154;
    font-size: 23px;
}

.board_inner h4{
    width: 96px;
    height: 26.5px;
    color: white;
    text-align: center;
    font-family:'Noto Sans KR';
    font-size: 12px;
    font-weight: 500;
    line-height: 9px;
    margin-left: 15px;
    color: white;
    margin-top: 36px;
}

.board_inner01 h4{
    background-color: #54A4A1;
}

.board_inner02 h4{
    background-color: #629E7E;
}

.board_inner p{
    width: 970px;
    font-family:'Noto Sans KR';
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 37px;
}

.board_inner h5, .board_inner h6{
    font-family:'Noto Sans KR';
    color: #444444;
    font-size: 12px;
    font-weight: 500;
    padding-top: 38px;
}

.board_inner h6{
    padding-right: 20px;
    padding-left: 7px;
}


/* board_bottom */
.board_bottom{
    width: 1320px;
    margin: 0 auto; 
}

.board_gnb{
    width: 1320px;
    display: flex;
    justify-content: center;
    height: 30px;
    font-family:'Noto Sans KR';
    font-size: 16px;
    font-weight: 600;
    padding-top: 12px;
}

.board_gnb p{
    padding: 6px 10px;
    cursor: pointer;
}

.board_gnb p:hover{
    color: #58832D;
}

/* bar_wrap */

.bar_wrap{
    display: flex;
    justify-content: center;

}

.bar{
    display: flex;
    /* width: 371px; */
}

.search_bar{
    width: 270px;
    height: 38px;
    margin: 63px auto;
    border: 1px solid #9B9B9B;
    background-color: #F9F9F9;
    box-sizing: border-box;
    padding: 10px 0px 0px 28px;
    border-radius: 60px;
    margin-right: 23px;
}

.search{
    background-image: url(../images/class/search_icon.png);
    background-repeat: no-repeat;
    background-position: right 25px top 0px;
    cursor: pointer;
}

.search_bar input{
    display: block;
    font-family:'Noto Sans KR';
    font-weight: 600;
    font-size: 10px;
    width: 50%;
    border: none;
    outline: none;
    background-color: transparent;
}
.search_bar input::placeholder{
    color: #444444;
    font-size: 11px;
}
.textarea_wrap{
    width: 500px;
    margin: 50px auto;
}
.textarea_wrap textarea{
    display: block;
    width: 100%;
    height: 28px;
    padding: 20px;
    font-size: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    outline: none;
    resize: vertical;
}

.write{
    display: block;
    font-family:'Noto Sans KR';
    font-weight: 600;
    font-size: 10px;
    width: 84px;
    height: 38px;
    margin: 63px auto;
    border: 1px solid #9B9B9B;
    background-color: #F9F9F9;
    box-sizing: border-box;
    padding: 7px 0px 0px 28px;
    border-radius: 60px;
}

/* footer */
#footer{
    font-family:'Noto Sans KR';
    color: #707070;
    font-size: 13px;
    font-weight: 300;
    background-color: #F9F9F9;
}

.footer_inner{
    width: 1320px;
    margin: 0 auto;
}

#footer span{
    font-size: 20px;
    font-weight: 400;
}

.footer_top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    padding-top: 68px;
}

.footer_number{
    line-height: 34px;
    padding-top: 3px;
}

.footer_id{
    line-height: 21px;
}

.footer_icon{
    display: flex;
    height: 45px;
}

.footer_bottom{
    line-height: 25px;
}

.footer_icon li{
    font-family:'Noto Sans KR';
    font-size: 10px;
    font-weight: 400;
    /* width: 56px; */
    padding: 11px;
    line-height: 15px;
}

.footer_icon li:nth-child(1) p{
    padding-left: 6px;
}

.footer_icon li:nth-child(2) p{
    padding-left: 2px;
}

.footer_icon li:nth-child(3) p{
    padding-left: 11px;
}

.footer_bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 108px;
}

.footer_info{
    padding-bottom: 31px;
}

.footerbottom_right{
    padding-top: 20px;
}
